<h2>Minecraft Servers</h2>
<div *ngFor="let server of mcServers.servers$ | async" class="card bg-light border-dark mb-3">
  <mat-card>
    <mat-card-subtitle>{{server.hostname}}</mat-card-subtitle>
    <mat-card-title>{{server.name}}</mat-card-title>
    <mat-card-content>
      <div *ngIf="server.status && server.status.description.text != 'Offline'; else offlineBlock">
        <img style="max-width: 100px" src="{{server.status.favicon}}" alt="X">
        <p>{{server.status.version.name}}</p>
        <p *ngIf="server.status.description.text != ''">{{server.status.description.text}}</p>
        <div *ngFor="let ex of server.status.description.extra">{{ex.text}}</div>
        <p class="font-italic">{{server.status.players.online}} of {{server.status.players.max}} players online</p>
      </div>
      <ng-template #offlineBlock>
        <p>Offline</p>
      </ng-template>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions *ngIf="server.status && server.status.description.text == 'Offline' && !server.launch_pct">
      <button type="button" (click)="mcServers.launch(server)" class="btn btn-success">Launch</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="server.launch_pct; else loadingBlock" mode="determinate" [value]="server.launch_pct"></mat-progress-bar>
      <ng-template #loadingBlock>
        <mat-progress-bar *ngIf="!server.status" mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </mat-card-footer>
  </mat-card>
</div>
<!-- <app-mcserver-add *ngIf="auth.authContext.user.admin"></app-mcserver-add> -->
