<div class="content-container">
  <h2>Minecraft Servers</h2>
  <div class="server-grid">
    @for (server of mcServers.servers$ | async; track server.hostname) {
      <mat-card class="server-card" [class.online]="server.online" appearance="outlined">
        <div class="status-indicator" [class.online]="server.online"></div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-subtitle>{{server.hostname}}</mat-card-subtitle>
            <mat-card-title>{{server.name}}</mat-card-title>
            <img mat-card-sm-image
              class="server-favicon"
              [class.online]="server.online"
              [src]="server.favicon || 'assets/generic-server.png'"
              alt="Server Icon">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <div>
            <p>{{server.mc_version.name}}</p>
            <p>{{server.description}}</p>
            <p class="font-italic">{{server.players.online}} of {{server.players.max}} players online</p>
          </div>
        </mat-card-content>
        @if (isServerLaunchable(server)) {
          <mat-card-actions>
            <button mat-raised-button
              (click)="mcServers.launch(server)"
            >
                Launch Server
            </button>
          </mat-card-actions>
        }
        <mat-card-content>
          @if (server.launch_pct !== undefined) {
            <mat-progress-bar mode="determinate" [value]="server.launch_pct"></mat-progress-bar>
          } @else {
            @if (server.launch_time === undefined) {
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>