# python files
*.pyc
venv/*
.python-version

# IDE files
*.iml
.idea/*
.vscode/*
.env

# Terraform files
.terraform
.terraform*

# Node files
package-lock.json
*/node_modules/*
*/ui-static/*
.node-version

# CDK files
cdk.context.json
