aws-cdk.core>=1.96
aws-cdk.aws-lambda>=1.96
aws-cdk.aws-lambda-python>=1.96
aws-cdk.aws-apigateway>=1.96
aws-cdk.aws-s3-deployment>=1.96
aws-cdk.aws-cognito>=1.96
mcstatus>=2.3.0,<3.0
boto3>=1.12.26,<2.0
marshmallow